PORT=3000
NODE_ENV=development
DB_HOST=postgres
DB_PORT=5432
DB_USER=vault_user
DB_PASS=vault_pass
DB_NAME=securevault
MASTER_ENCRYPTION_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
PASSWORD_PEPPER=pimenta_super_secreta_hsm_simulada_998877
ADMIN_API_KEY=admin_secret_123